*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #eee;
}
.logo{
    height: 8vh;
    width: 100%;
    display: flex;
}
.l{
    font-size: 12px;
    color: #b1b3b9;
}
.logo1{
    height: 7.5vh;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5px;  
}
.logo2{
    height: 8vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo22{
    margin-right: 10px;
    color: gray;
}
.navv{
    height: 5vh;
    width: 100%;
    background-color:#ff5a60 ;  
    position: sticky;
    top: 0;
    z-index:+1;
}
.nav_sub{
    height: 5vh;
    width: 50%;
    margin-left: 270px;
    display: flex;
    align-items: center;
}
.nav{
    color: white;
    font-size: 17px;
    margin-right: 40px; 
}
.n1{
    height: 3vh; 
    position: relative;
    
  }
.n2:hover{
    background-color: white;
    color: #ff5a60;
}
.slidein {
    position: absolute;
    top: 30px;
    left: 28%;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 120px;
    height: 0;
    transition: .5s ease;
  }
.para {
    color: gray;
    position: absolute;
    font-size: 15px;
  }
  
.n1:hover .slidein {
    height: 15vh;
}
.color{
    color: gray;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 5px;
}
.link{
    text-decoration: none;
    color: #00bcd5;
}
.link:hover{
    text-decoration: underline;
}
.lin{
    color: #00bcd5;
}
.box{
    height: 5vh;
    width: 70%;
    margin: 20px auto;
    background-color: white;
    border-bottom: #00bcd5;
    display: flex;
    place-items: center;
    
}
.box1{
    border-bottom: solid 2px #00bcd5;
    height: 4vh;
    margin-top: 9px;
    padding-bottom: 0px;
    
}
.boxx{
    margin-left: 25px;
    font-size: 16px;
    color: gray;
    font-weight: bold;
}
.welcome{
    height: 5vh;
    width: 100%;
    color: gray;
    font-size: 33px;
    text-align: center;
}
.this{
    height: 5vh;
    width: 100%;
    color: gray;
    font-size: 23px;
    text-align: center;
}
.con{
    height: 168vh;
    width: 100%;
    display: flex;
}
.con1{
    height: 168vh;
    width: 43%;
    background-color: white;
    position: absolute;
    left: 17%;
}
.kevin{
    font-size: 35px;
    color: gray;
    margin-left: 20px;
    margin-top: 20px;
}
.linee{
    border: solid 1px #d7d9e0;
    width: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.calender{
    font-size: 16px;
    color: rgb(159, 157, 157);
    margin-left: 25px;
}
.photo{
    height: 45vh;
    width: 350px;
    background-color:#d7d9e0;
    margin: 40px auto;
}
.photo1{
    height: 40vh;
    width: 350px;
    margin-top: 20px;

}
.paraa{
    font-size: 16px;
    color: gray;
    margin: 35px;
    margin-bottom: 20px;
    text-align: justify;
}
.lin{
    border: solid 1px #d7d9e0;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.cal{
    font-size: 16px;
    color: rgb(159, 157, 157);
    margin-left: 25px;
}
.con2{
    height: 80vh;
    width: 20%;
    position: absolute;
    left: 62%;
}
.con21{
    height: 35vh;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(./images/digital-album-small.jpg);
    background-size: cover;
    
}
.con22{
    height: 35vh;
    width: 100%;
    background-image: url(./images/own-video-story-small.jpg);
    background-size: cover;
}
.footer{
    height: 13vh;
    width: 70%;
    margin: 6vh 30vh 10vh 33vh;
    display: flex;
    border:none;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    box-shadow: inset 1px 1px 6px gray;
    padding-top: 20px;
    padding-left: 10px;

}
.paragraph{
    width: 55%;
    font-size: 12px;
    color: gray;
    margin-left: 10px;
    
}
.logg{
    height: 70px;
    width: 60px;
}
.footer_gif{
    margin-left: 100px;
}
.gif_below{
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.gif_bel{
    border: none;
    height: 18px;
    width: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif_below:hover{
    text-decoration: underline;
}